@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 108);
}

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 700;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.main-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  padding: 0.5rem;
}

.logo {
  font-size: 1.5em;
  margin-left: 2.5rem;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#result {
  box-sizing: border-box;
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 1.3rem;
  overflow-y: auto;
  border: 0.2rem dashed black;
  background: linear-gradient(white 90%, #ddd 90%);
  background-size: 100% 1.5rem;
  width: 45%;
  height: 58vh;
}

#input {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 5px;
  overflow-y: auto;
  resize: none;
  width: 45%;
  height: 58vh;
  font-size: 1.2rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 6rem;
}

#generate-btn,
#download-pdf {
  font-size: 1.3rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #5667fd;
  color: white;
}

#download-pdf {
  display: none;
}

#generate-btn:hover,
#download-pdf:hover {
  cursor: pointer;
  background-color: #2339ff;
}

.loader {
  border: 16px solid #e2e2e2;
  border-top: 16px solid #5667fd;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40vh;
  left: 70vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 425px) {
  .logo {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .input-container {
    flex-direction: column;
  }

  #result,
  #input {
    width: 80%;
    height: 35vh;
  }

  .btn-container {
    margin: 1rem 0;
    justify-content: center;
    gap: 4rem;
  }

  #generate-btn,
  #download-pdf {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  #download-pdf {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    margin-left: 1.5rem;
    padding: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .btn-container {
    margin: 1.5rem 3.3rem;
  }
}

@media only screen and (max-width: 1440px) {
  .btn-container {
    margin: 1.5rem 4.5rem;
  }
}
