@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 108);
}

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 700;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

nav {
  padding: 0.5rem;
}

.logo {
  font-size: 1.5em;
  margin-left: 2rem;
}

h1 {
  text-align: center;
}

.main-container {
  height: 90vh;
}

#results {
  height: 60vh;
  margin: 1rem 6rem;
  padding: 2rem;
  border-radius: 5px;
  font-size: 1.3rem;
  overflow-y: auto;
  border: 0.2rem dashed black;
  background: linear-gradient(white 90%, #ddd 90%);
  background-size: 100% 1.2rem;
}

.input-container {
  margin: 0 6rem;
  gap: 2rem;
}

.input-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#input {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  height: 6vh;
  border-radius: 5px;
  overflow-y: auto;
  resize: none;
}

#generate-btn {
  font-size: 1.3rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #5667fd;
  color: white;
}

#generate-btn:hover {
  cursor: pointer;
  background-color: #2339ff;
}

#download-pdf {
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  display: none;
  background-color: white;
  padding: 0.5rem;
}

#download-pdf:hover {
  cursor: pointer;
  background-color: #5667fd;
  color: white;
}

.loader {
  display: none;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40vh;
  left: 46vw;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
